{% extends 'base.html.twig' %}

{% block title %}Доступ запрещён{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <h3>Доступ запрещён!</h3>
    </div>

{% endblock %}