{% extends 'base.html.twig' %}

{% block title %}Страница не найдена{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <h3>К сожалению, страница не найдена</h3>
    </div>

{% endblock %}